@import "partials/Loader";
@import "Layouts/header";
@import "utiles/colors";
@import "utiles/fa-solid";
@import "utiles/button";
@import "utiles/mixins";
@import "Layouts/cards";
@import "Layouts/footer";
@import "partials/animation";
@import "partials/responsives";



            /****** General ***********/

body {
    font-family: 'Roboto';
    margin:0;
    padding:0;
}

a {
    color: inherit;
    text-decoration: none;
}
        /***** PARTIE RECHERCHE*****/
       
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background:$variable-gray2;
    box-shadow: 0px 4px 4px 0px  rgba(0, 0, 0, 0.25);
}
  
    input{
        font-size: 16px;
        font-weight: 500;
        background: $variable-gray2;
        border:none;
        width: 120px;
        }
main{
    margin:0;
    padding:0;
}        
        
.Explorez{
    background:$filter-bg-color;
    text-align: center;
    @include section1;
}
    .title{
        font-size: 24px;
        font-weight: 700;
        @include title1;
    }

    .text{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }    
                /********FONCTIONNEMENT*****/  
.section-process{
    @include section2;
}
    .Process{
        padding: 0;
        margin:auto;
        width: 100%;
       
    }
    .title{
        @include title1;
        margin-bottom: 20px;
    }

.list_process{
    @include list;


    &:hover {
        cursor: pointer;

        &>.process_icon{
            color: $main-color;
        }
    }

}

.process_number{
    @include process_number;
}
                    /******SECTION RESTAURANT home page*****/
.restaurant{
    @include section2;
    background-color: $filter-bg-color;

    .title{
        @include title1;
        margin-bottom: 0;
    }
   
    .restaurant-cards{
        padding:25px 0 0;
        position: relative;
    }
}
               /*******PAGES*******/
.banner{
    width: 100%;
    height: 275px;
    object-fit: cover;
}  
.Menu_container{
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color: $filter-bg-color;
    @include section2;
    position: relative;
    margin-top: -50px;
    gap:12px;
    .header_Menu{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-left:  4px;
    } 
}       

.title_Menu{
   @include title2;
}
        
.section_title{
    
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 300;
    text-transform: uppercase;
 
    border-bottom: 3px solid $tertiary-color;
    width: 40px;
    height: 3px;
    padding-bottom: 24px;
    
}

.Card-Menus{
    max-width:100%;
    overflow: hidden;
    margin-bottom: 40px;
}