@charset "UTF-8";
/*** HEADER Home page***/
.header {
  display: flex;
  justify-content: center;
  height: 36px;
  width: 100%;
  z-index: 2;
  padding-top: 14px;
  padding-bottom: 13px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  position: sticky;
}
.header .logo {
  width: 162px;
  margin: auto;
  padding: 0 16px 0 19px;
  height: 36px;
}

/*******HEADER PAGES******/
/*** fa-solid page index.html***/
.header_ARROW {
  color: #353535;
  position: absolute;
  top: 23px;
  left: 25px;
  font-size: 18px;
}

form i.fa-solid {
  width: 12px;
  height: 16px;
  margin-right: 17px;
}

.process_icon {
  margin-left: 30px;
  color: #7E7E7E;
  font-size: 20px;
}
.process_icon:hover {
  cursor: progress;
  color: #9356DC;
}

/*****icon like index**/
.card_footer .fa-heart {
  font-size: 21px;
  margin-top: 12px;
}

.heartfull {
  position: absolute;
  z-index: 2;
  color: transparent;
}
.heartfull:hover {
  cursor: pointer;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
}

/**** icon pages***/
.header_Menu .fa-heart {
  font-size: 24px;
}

.fa-circle-check {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.fa-circle-check .cardMenu:hover .fa-circle-check {
  transform: rotate(0);
}

/****fa-solid footer****/
.footer-icon {
  width: 11px;
  height: 13px;
  margin-right: 14px;
}

/*** button***/
.btn1 {
  align-self: center;
  border: 0;
  padding: 13px 16px;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.btn1:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*** PAGES****/
.select-btn {
  opacity: 0;
  position: absolute;
  background-color: #99e2d0;
  color: #fff;
  font-size: 20px;
  padding: 25px 17.5px;
  border-radius: 0 15px 15px 0;
  left: 373px;
  margin-bottom: -15px;
  transform: translateX(0);
  transform: rotate(0);
}

.Menu_container .btn1 {
  width: 186px;
}

.cardMenu:hover .select-btn {
  opacity: 1;
  left: 314px;
}

/**** mixins index.html*****/
/*****PAGES***/
/***image index****/
.Card-Menu {
  background-color: white;
  border-radius: 15px 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card_img {
  display: flex;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.card_img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
  height: 175px;
}

.badge {
  color: #008766;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 6px 14.5px;
  position: absolute;
  top: 35px;
  right: 17px;
}

.card_footer {
  display: flex;
  flex-direction: row;
  padding: 16px 25px 12px 13px;
  justify-content: space-between;
}

.card-description h3 {
  font-size: 18px;
  font-weight: 700px;
  margin: 0;
}
.card-description p {
  font-size: 17px;
  font-weight: 300px;
  margin: 0 0 5px 0;
}

/****pages restaurants****/
.card_heart {
  margin-right: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

.cardMenu {
  font-family: "roboto";
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  margin-top: 12px;
  position: relative;
  transition: transform 0.3s ease;
  opacity: 0;
  animation: fadeInup 0.5s ease forwards;
  margin: 10px 0;
}
.cardMenu:hover {
  transform: translateX(-50px);
}
.cardMenu:nth-child(1) {
  animation-delay: 0.2s;
}
.cardMenu:nth-child(2) {
  animation-delay: 0.4s;
}
.cardMenu:nth-child(3) {
  animation-delay: 0.6s;
}
.cardMenu:nth-child(4) {
  animation-delay: 0.8s;
}
.cardMenu:nth-child(5) {
  animation-delay: 1s;
}
.cardMenu:nth-child(6) {
  animation-delay: 1.2s;
}
.cardMenu:nth-child(7) {
  animation-delay: 1.4s;
}
.cardMenu:nth-child(8) {
  animation-delay: 1.6s;
}
.cardMenu:nth-child(9) {
  animation-delay: 1.8s;
}
.cardMenu .card_container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  transition: transform 0.3s ease;
  margin-right: 10px;
}
.cardMenu h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  align-self: stretch;
  font-weight: 500;
}
.cardMenu P {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}
.cardMenu .cardPrix {
  font-weight: 700;
  font-size: 15px;
  margin-left: 13px;
  margin-right: 5px;
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) opacity 0.3 ease;
}

.cardMenu:hover .card_container P {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 30px;
}

.cardMenu:hover .cardPrix {
  transform: translateX(-50px);
  opacity: 1;
}

/*****¨Footer mobile****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer .footer-title {
  color: white;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin: 0;
  font-size: 18px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.footer li {
  font-size: 16px;
  font-weight: 500px;
  color: white;
  padding-bottom: 10px;
}
.footer li:hover {
  text-decoration: underline;
}

.heart-container .fa-regular {
  color: 193deg, #9356DC -11.44%, #FF79DA 123.93%;
}

.heart-container .fa-solid {
  color: 193deg, #9356DC -11.44%, #FF79DA 123.93%;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s ease, background 0.5s ease;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
}

.heart-container:hover .fa-solid {
  clip-path: inset(0 0 0 0);
}

.fa-circle-check {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

:nth-child(1) {
  animation-delay: 0.3s;
}

@keyframes fadeInup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*** Responsives tablette***/
/***page Index***/
@media screen and (min-width: 1024px) {
  .Process {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .Process .list_process {
    width: 80%;
  }
  .restaurant .title {
    margin-left: 62px;
  }
  .restaurant .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .restaurant .Card-Menu {
    width: 42%;
  }
  .footer .footer-title {
    text-align: center;
  }
  .footer ul {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  /*****PAGES RESTAURANTS*********/
  .Menu_container {
    width: 80%;
    margin-left: 70px;
    align-items: center;
  }
  .Menu_container .title_Menu {
    margin: 0 20px;
  }
  .cardMenu {
    width: 343px;
  }
}
/****Responsive desktop***/
@media screen and (max-width: 1440px) {
  .section-process {
    width: 80%;
    justify-content: center;
  }
}
/****** General ***********/
body {
  font-family: "Roboto" sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/***** PARTIE RECHERCHE*****/
.main-container {
  width: 100%;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
  font-size: 16px;
  font-weight: 500;
  background: #EAEAEA;
  border: none;
  width: 120px;
}

main {
  margin: 0;
  padding: 0;
}

.Explorez {
  background: #f6f6f6;
  text-align: center;
  padding: 30px 20px 50px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-left: 10px;
  margin-right: 10;
  font-size: 24px;
}

.text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

/********FONCTIONNEMENT*****/
.section-process {
  padding: 50px 20px;
}

.Process {
  padding: 0;
  margin: auto;
  width: 100%;
}

.title {
  margin: 0;
  margin-left: 10px;
  margin-right: 10;
  font-size: 24px;
  margin-bottom: 20px;
}

.list_process {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: auto;
  height: 72.379px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-left: 15px;
  position: relative;
}
.list_process:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.list_process:hover > .process_icon {
  color: #9356DC;
}

.process_number {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  background-color: #9356DC;
  text-align: center;
  position: absolute;
  font-size: 15px;
  margin: -16px;
  font-weight: 500;
  color: #f6f6f6;
  line-height: 180%;
}

/******SECTION RESTAURANT home page*****/
.restaurant {
  padding: 50px 20px;
}
.restaurant .title {
  margin: 0;
  margin-left: 10px;
  margin-right: 10;
  font-size: 24px;
  margin-bottom: 0;
}
.restaurant .restaurant-cards {
  padding: 25px 0 0;
  position: relative;
}

/*******PAGES*******/
.banner {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.Menu_container {
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  padding: 50px 20px;
  position: relative;
  margin-top: -50px;
  gap: 12px;
}
.Menu_container .header_Menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
}

.title_Menu {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.section_title {
  font-size: 16px;
  font-family: "roboto";
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 3px;
  padding-bottom: 24px;
}

.Card-Menus {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */