
.heart-container .fa-regular {
    color:$linear-gradient;
}

.heart-container .fa-solid {
    color:$linear-gradient;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.5s ease, background 0.5s ease;
    background: linear-gradient(to bottom, $main-color, $second-color);
    -webkit-background-clip: text;
    background-clip: text;
}

.heart-container:hover .fa-solid {
    clip-path: inset(0 0 0 0);
}    


/**animation pages**/

@keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    
    }
}
@keyframes fadeInup{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.cardMenu:hover .card_container P{
    
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
    
}

.cardMenu:hover .cardPrix{
transform: translateX(-55px);

}

.cardMenu:hover .fa-circle-check{
transform: rotate(360deg);
}