
    $main-color: #9356DC;
    $second-color:#FF79DA;
    $main-bg-color:#353535;
    $filter-bg-color: #f6f6f6;
    $variable-gray2:#EAEAEA;
    $variable-gray3:#7E7E7E;
    $bg-color-white:#ffff;
    $text-color:$bg-color-white;