
/*** fa-solid page index.html***/

.header_ARROW{
    
    color:$main-bg-color;
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 18px;
}

form i.fa-solid{
    width: 12px;
    height: 16px;
    margin-right: 17px;
  }

.process_icon{
    margin-left: 30px;
    color:$variable-gray3;
    font-size: 20px;

     &:hover{
        cursor:progress;
        color: $main-color;
    }
}
/*****icon like index**/
.card_footer .fa-heart{
    font-size: 21px;
    margin-top: 12px;
}

.heartfull{
    
    position: absolute;
    z-index: 2;
    color:transparent; 
        &:hover{
            cursor: pointer;
            color:transparent;
            background-image: linear-gradient($main-color,$second-color);
            background-clip: text;
    }    
}
/**** icon pages***/

.header_Menu .fa-heart{
    font-size: 24px;

}
.fa-circle-check{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: .5s ease-in-out;
}
  

/****fa-solid footer****/
.footer-icon{
    width: 11px;
    height: 13px;
    margin-right:14px ;
}


    