/*****¨Footer mobile****/

.footer{
    background-color:$main-bg-color;
    padding: 22px 25px;
    width: 90%;
}
    .footer-title{
        color: #ffffff;
    }
.footer ul{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.footer li{
    font-size: 16px;
    font-weight: 500px;
    color: #ffffff;
    padding-bottom:10px;
     
    &:hover{
        text-decoration: underline;
    }
}


