/***Responsives tablettes**/
@media screen and (min-width: 694px){
    
}



/*** Responsives DESKTOP***/
           
                /***page Index***/
@media  screen and (min-width: 1024px) and (max-width:1440px){
    
    .Process{
        display: flex;
        flex-direction: row;
        gap: 20px;
    
        .list_process{
            width: 80%;
        }
    }

    .restaurant{
        .title{
            margin-left: 62px;
        }
        .restaurant-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            }
    
        .Card-Menu{
        width: 42%;
        }
    }

    .footer{
        display: flex;
        flex-direction: row-reverse;
    }
        .footer-container{
            display: inline-flex;
            flex-direction: row-reverse;
            gap: 60px;  
        }
        
        .footer-title{
            margin: 12px !important;
        }
        ul{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        }
    }


    /*****PAGES RESTAURANTS*********/
    .Menu_container {
       
        align-items: center;
        .title_Menu{
            margin: 0 20px;
        }
    }
    .cardMenu {
    
    }
  




