
    $main-color: #9356DC;
    $second-color:#FF79DA;
    $tertiary-color:#99E2D0;
    $main-bg-color:#353535;
    $filter-bg-color: #f6f6f6;
    $variable-gray2:#EAEAEA;
    $variable-gray3:#7E7E7E;
    $bg-color-white:#ffff;
    $text-color:$bg-color-white;
    $linear-gradient:(193deg,$main-color -11.44%, $second-color 123.93%);
    