/*****¨Footer mobile****/

.footer{
    background-color:$main-bg-color;
    padding: 22px 25px;

    .footer-title{
        color: $bg-color-white;
        @include title2;
        font-size: 18px;
    }
}    

.footer ul{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.footer li{
    font-size: 16px;
    font-weight: 500;
    color: $bg-color-white;
    padding-bottom:10px;
     
    &:hover{
        text-decoration: underline;
    }
}
